<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	
	<script src="/static/js/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
</head>
<body>
        <div id="bd" onkeydown="">
			<span id='h2'>2048&nbsp;</span>
			<span id='pp'>0分</span>
			<form action="/ht2048/topten" method="get" id='fm'>
				<!-- {% csrf_token %} -->
				<input type="submit" value="排行榜" name="top">
			</form>
			<button id='btn' type="button">重新开始</button>
			<br>
			<br>
			<div class="hd">
				<span id='x1'>{{ array.0.0 }}</span>
			</div>
			<div class="hd">
				<span id='x2'>{{ array.0.1 }}</span>
			</div>
			<div class="hd">
				<span id='x3'>{{ array.0.2 }}</span>
			</div>
			<div class="hd">
				<span id='x4'>{{ array.0.3 }}</span>
			</div>
			<br>
			
			<div class="hd">
				<span id='x5'>{{ array.1.0 }}</span>
			</div>
			<div class="hd">
				<span id='x6'>{{ array.1.1 }}</span>
			</div>
			<div class="hd">
				<span id='x7'>{{ array.1.2 }}</span>
			</div>
			<div class="hd">
				<span id='x8'>{{ array.1.3 }}</span>
			</div>
			<br>
			
			<div class="hd">
				<span id='x9'>{{ array.2.0 }}</span>
			</div>
			<div class="hd">
				<span id='x10'>{{ array.2.1 }}</span>
			</div>
			<div class="hd">
				<span id='x11'>{{ array.2.2 }}</span>
			</div>
			<div class="hd">
				<span id='x12'>{{ array.2.3 }}</span>
			</div>
			<br>
			
			<div class="hd">
				<span id='x13'>{{ array.3.0 }}</span>
			</div>
			<div class="hd">
				<span id='x14'>{{ array.3.1 }}</span>
			</div>
			<div class="hd">
				<span id='x15'>{{ array.3.2 }}</span>
			</div>
			<div class="hd">
				<span id='x16'>{{ array.3.3 }}</span>
			</div>
			<br>
			<p id='p2'>
				游戏说明:'上,下,左,右'或'w,a,s,d'控制移动即可;
			</p>
        </div>
		<br>
		<meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=no">
		
		<script>
			new_cookie();
			bianse();
			var btn = document.getElementById("btn");
			btn.onclick = function(){
				location.reload();
			}
		</script>
		<!-- 移动端 -->
		<script type="text/javascript">
			// document.addEventListener('touchstart', function(e){ e.preventDefault(); },false);
			// document.addEventListener('touchmove', function(e){  e.preventDefault();},false);
			// document.addEventListener('touchend', function(e){ e.preventDefault();},false);

			// document.addEventListener('touchstart', function(){},false);
			// document.removeEventListener('touchmove',this,false);
			// document.removeEventListener('touchend',this,false);
	
			$("body").on("touchstart", function(e) {
				e.preventDefault();
				startX = e.originalEvent.changedTouches[0].pageX,
				startY = e.originalEvent.changedTouches[0].pageY;
			});
			$("body").on("touchmove", function(e) {
				e.preventDefault();
				moveEndX = e.originalEvent.changedTouches[0].pageX,
				moveEndY = e.originalEvent.changedTouches[0].pageY,
				X = moveEndX - startX,
				Y = moveEndY - startY;
				if ( Math.abs(X) > Math.abs(Y) && X > 0 ) {
					getXhrP_right();
				}
				else if ( Math.abs(X) > Math.abs(Y) && X < 0 ) {
					getXhrP_left();
				}
				else if ( Math.abs(Y) > Math.abs(X) && Y > 0) {
					getXhrP_down();
				}
				else if ( Math.abs(Y) > Math.abs(X) && Y < 0 ) {
					getXhrP_up();
				}
			});
		</script>
		
</body>
</html>