<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .hd{
            display:inline-block;
            width: 80px;
            height: 80px;
            padding: 5px;
            margin: -3px;
            border: 1px solid #ccc;
            background-color: #eee;
            position: relative;
            text-align:center;
        }
        span{
            font-size:50px;
        }
    </style>
	
	<script src="/static/js/common.js" type="text/javascript" charset="utf-8"></script>
<!-- 	<script src="/static/js/jquery-1.11.3.js" type="text/javascript" charset="utf-8"></script> -->
</head>
<body>
    
        <div id="bd" onkeydown="">
			
				<div>
					<div class="hd">
					<span id='x1'>1分</span>
					</div>
					<div class="hd">
					<span>2</span>
					</div>
					<div class="hd">
					<span>3</span>
					</div>
					<div class="hd">
					<span>4</span>
					</div>
				</div>
		</div>
		
		
		
		
		

		<script>
			var num = document.getElementById('x1').innerText
			console.log(num);
			alert("已获得:"+name);
			console.log('ok');
		</script>
</body>
</html>